<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible", content = "ie=edge">
        <!-- 引入CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <!-- 引入favicon.ico -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
        <!-- 网页标题 -->
        <title>Raspberry Pi</title>

    </head>

    <body>
        <script src="{{ url_for('static', filename='js/jquery-2.1.4.js') }}" charset = "utf-8"></script>

        <!-- [> [> [> [> [> [> UPS信息 <] <] <] <] <] <] -->
        <div class = "row-7em">
            <inline>UPS监控</inline>
            <span style = "display: inline;">:</span>
            <span style = "display: inline;">
                <button id = "ViewUps"></button>
                <button id = "RefreshUPS">Refresh</button>
            </span>
        </div>
        <div class = "row-4em" id = "UpsInfo" style = "display: block;">
            <p id = "UPS"></p>
        </div>
        <!-- 显示/隐藏按钮 -->
        <script charset = "utf-8">
            $(function(){
                $("#ViewUps").html("Hide")
                $("#ViewUps").click(function(){
                    let attr = document.getElementById('UpsInfo')
                    if(attr.style.display == 'block'){
                        $("#ViewUps").html("View")
                        attr.style.display = 'none'
                    }else{
                        $("#ViewUps").html("Hide")
                        attr.style.display = 'block'
                    }
                })
            })
        </script>
        <!-- 确保不用点击"Refresh"按钮即可显示 -->
        <script charset = "utf-8">
            $.ajax({
                url: "update/ups",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var ups=data.ups;
                    var ul=$("<ul></ul>");
                    for (var i = 0; i < ups.length; i++) {
                        ul.append("<inline>电池电量</inline><span>: "+ups[i].capacity+"%</span><br>");
                        ul.append("<inline>电池电压</inline><span>: "+ups[i].voltage+"V</span><br>");
                        ul.append("<inline>电池状态</inline><span>: "+ups[i].status+"</span><br>");
                        ul.append("<inline>是否充电</inline><span>: "+ups[i].tag+"</span><br>");
                        ul.append("<inline>系统时间</inline><span>: "+ups[i].time+"</span><br>");
                    }
                    $("#UPS").html(ul);
                    console.log(data);
                }
            })
        </script>
        <!-- 确保点击"Refresh"按钮即可刷新 -->
        <script charset = "utf-8">
            $(function() {
                $("#RefreshUPS").click(function(){
                    $.ajax({
                        url: "update/ups",
                        type: "GET",
                        dataType: "json",
                        success: function (data) {
                            var ups=data.ups;
                            var ul=$("<ul></ul>");
                            for (var i = 0; i < ups.length; i++) {
                                ul.append("<inline>电池电量</inline><span>: "+ups[i].capacity+"%</span><br>");
                                ul.append("<inline>电池电压</inline><span>: "+ups[i].voltage+"V</span><br>");
                                ul.append("<inline>电池状态</inline><span>: "+ups[i].status+"</span><br>");
                                ul.append("<inline>是否充电</inline><span>: "+ups[i].tag+"</span><br>");
                                ul.append("<inline>系统时间</inline><span>: "+ups[i].time+"</span><br>");
                            }
                            $("#UPS").html(ul);
                            console.log(data);
                        }
                    })
                })
            })
        </script>

        <!-- [> [> [> [> [> [> 系统信息 <] <] <] <] <] <] -->
        <div class = "row-7em">
            <inline>系统监控</inline>
            <span style = "display: inline;">:</span>
            <span style = "display: inline;">
                <button id = "ViewSys"></button>
                <button id = "RefreshSYS">Refresh</button>
            </span>
        </div>
        <div class = "row-4em" id = "SysInfo" style = "display: none;">
            <p id = "SYS"></p>
        </div>
        <!-- 显示/隐藏按钮 -->
        <script charset = "utf-8">
            $(function(){
                $("#ViewSys").html("View")
                $("#ViewSys").click(function(){
                    let attr = document.getElementById('SysInfo')
                    if(attr.style.display == 'block'){
                        $("#ViewSys").html("View")
                        attr.style.display = 'none'
                    }else{
                        $("#ViewSys").html("Hide")
                        attr.style.display = 'block'
                    }
                })
            })
        </script>
        <!-- 确保不用点击"Refresh"按钮即可显示 -->
        <script charset = "utf-8">
            $.ajax({
                url: "update/sys",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var sys=data.sys;
                    var ul=$("<ul></ul>");
                    for (var i = 0; i < sys.length; i++) {
                        ul.append("<inline>操作系统</inline><span>: "+sys[i].system+"</span><br>");
                        ul.append("<inline>内核版本</inline><span>: "+sys[i].kernel+"</span><br>");
                        ul.append("<inline>主机名</inline><span>: "+sys[i].hostname+"</span><br>");
                        ul.append("<inline>系统位数</inline><span>: "+sys[i].arch+"</span><br>");
                        ul.append("<inline>硬件架构</inline><span>: "+sys[i].machine+"</span><br>");
                        ul.append("<inline>运行时长</inline><span>: "+sys[i].run_time+"</span><br>");
                        ul.append("<inline>开机时间</inline><span>: "+sys[i].boot_time+"</span><br>");
                    }
                    $("#SYS").html(ul);
                    console.log(data);
                }
            })
        </script>
        <!-- 确保点击"Refresh"按钮即可刷新 -->
        <script charset = "utf-8">
            $(function() {
                $("#RefreshSYS").click(function(){
                    $.ajax({
                        url: "update/sys",
                        type: "GET",
                        dataType: "json",
                        success: function (data) {
                            var sys=data.sys;
                            var ul=$("<ul></ul>");
                            for (var i = 0; i < sys.length; i++) {
                                ul.append("<inline>操作系统</inline><span>: "+sys[i].system+"</span><br>");
                                ul.append("<inline>内核版本</inline><span>: "+sys[i].kernel+"</span><br>");
                                ul.append("<inline>主机名</inline><span>: "+sys[i].hostname+"</span><br>");
                                ul.append("<inline>系统位数</inline><span>: "+sys[i].arch+"</span><br>");
                                ul.append("<inline>硬件架构</inline><span>: "+sys[i].machine+"</span><br>");
                                ul.append("<inline>运行时长</inline><span>: "+sys[i].run_time+"</span><br>");
                                ul.append("<inline>开机时间</inline><span>: "+sys[i].boot_time+"</span><br>");
                            }
                            $("#SYS").html(ul);
                            console.log(data);
                        }
                    })
                })
            })
        </script>

        <!-- [> [> [> [> [> [> CPU信息 <] <] <] <] <] <] -->
        <div class = "row-7em">
            <inline>CPU监控</inline>
            <span style = "display: inline;">:</span>
            <span style = "display: inline;">
                <button id = "ViewCpu"></button>
                <button id = "RefreshCPU">Refresh</button>
            </span>
        </div>
        <div class = "row-6em" id = "CpuInfo" style = "display: none;">
            <p id = "CPU"></p>
        </div>
        <!-- 显示/隐藏按钮 -->
        <script charset = "utf-8">
            $(function(){
                $("#ViewCpu").html("View")
                $("#ViewCpu").click(function(){
                    let attr = document.getElementById('CpuInfo')
                    if(attr.style.display == 'block'){
                        $("#ViewCpu").html("View")
                        attr.style.display = 'none'
                    }else{
                        $("#ViewCpu").html("Hide")
                        attr.style.display = 'block'
                    }
                })
            })
        </script>
        <!-- 确保不用点击"Refresh"按钮即可显示 -->
        <script charset = "utf-8">
            $.ajax({
                url: "update/cpu",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var cpu=data.cpu;
                    var ul=$("<ul></ul>");
                    for (var i = 0; i < cpu.length; i++) {
                        ul.append("<inline>CPU利用率</inline><span>: "+cpu[i].percent+"%</span><br>");
                        ul.append("<inline>CPU负载</inline><span>: "+cpu[i].load_1+", "+cpu[i].load_5+", "+cpu[i].load_10+"</span><br>");
                        ul.append("<inline>CPU配置</inline><span>: "+cpu[i].core+"核"+cpu[i].thread+"线程</span><br>");
                    }
                    $("#CPU").html(ul);
                    console.log(data);
                }
            })
        </script>
        <!-- 确保点击"Refresh"按钮即可刷新 -->
        <script charset = "utf-8">
            $(function() {
                $("#RefreshCPU").click(function(){
                    $.ajax({
                        url: "update/cpu",
                        type: "GET",
                        dataType: "json",
                        success: function (data) {
                            var cpu=data.cpu;
                            var ul=$("<ul></ul>");
                            for (var i = 0; i < cpu.length; i++) {
                                ul.append("<inline>CPU利用率</inline><span>: "+cpu[i].percent+"%</span><br>");
                                ul.append("<inline>CPU负载</inline><span>: "+cpu[i].load_1+", "+cpu[i].load_5+", "+cpu[i].load_10+"</span><br>");
                                ul.append("<inline>CPU配置</inline><span>: "+cpu[i].core+"核"+cpu[i].thread+"线程</span><br>");
                            }
                            $("#CPU").html(ul);
                            console.log(data);
                        }
                    })
                })
            })
        </script>

        <!-- [> [> [> [> [> [> 传感器信息 <] <] <] <] <] <] -->
        <div class = "row-7em">
            <inline>传感器监控</inline>
            <span style = "display: inline;">:</span>
            <span style = "display: inline;">
                <button id = "ViewSensor"></button>
                <button id = "RefreshSENSOR">Refresh</button>
            </span>
        </div>
        <div class = "row-4em" id = "SensorInfo" style = "display: none;">
            <p id = "SENSOR"></p>
        </div>
        <!-- 显示/隐藏按钮 -->
        <script charset = "utf-8">
            $(function(){
                $("#ViewSensor").html("View")
                $("#ViewSensor").click(function(){
                    let attr = document.getElementById('SensorInfo')
                    if(attr.style.display == 'block'){
                        $("#ViewSensor").html("View")
                        attr.style.display = 'none'
                    }else{
                        $("#ViewSensor").html("Hide")
                        attr.style.display = 'block'
                    }
                })
            })
        </script>
        <!-- 确保不用点击"Refresh"按钮即可显示 -->
        <script charset = "utf-8">
            $.ajax({
                url: "update/sensor",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var sensor=data.sensor;
                    var ul=$("<ul></ul>");
                    for (var i = 0; i < sensor.length; i++) {
                        ul.append("<li>"+sensor[i].name+"</li>");
                        ul.append("<inline>当前温度</inline><span>: "+sensor[i].current+"°C</span><br>");
                        ul.append("<inline>最高温度</inline><span>: "+sensor[i].high+"°C</span><br>");
                        ul.append("<inline>告警温度</inline><span>: "+sensor[i].critical+"°C</span><br>");
                    }
                    $("#SENSOR").html(ul);
                    console.log(data);
                }
            })
        </script>
        <!-- 确保点击"Refresh"按钮即可刷新 -->
        <script charset = "utf-8">
            $(function() {
                $("#RefreshSENSOR").click(function(){
                    $.ajax({
                        url: "update/sensor",
                        type: "GET",
                        dataType: "json",
                        success: function (data) {
                            var sensor=data.sensor;
                            var ul=$("<ul></ul>");
                            for (var i = 0; i < sensor.length; i++) {
                                ul.append("<li>"+sensor[i].name+"</li>");
                                ul.append("<inline>当前温度</inline><span>: "+sensor[i].current+"°C</span><br>");
                                ul.append("<inline>最高温度</inline><span>: "+sensor[i].high+"°C</span><br>");
                                ul.append("<inline>告警温度</inline><span>: "+sensor[i].critical+"°C</span><br>");
                            }
                            $("#SENSOR").html(ul);
                            console.log(data);
                        }
                    })
                })
            })
        </script>

        <!-- [> [> [> [> [> [> 内存信息 <] <] <] <] <] <] -->
        <div class = "row-7em">
            <inline>内存监控</inline>
            <span style = "display: inline;">:</span>
            <span style = "display: inline;">
                <button id = "ViewMem"></button>
                <button id = "RefreshMEM">Refresh</button>
            </span>
        </div>
        <div class = "row-5em" id = "MemInfo" style = "display: none;">
            <p id = "MEM"></p>
        </div>
        <!-- 显示/隐藏按钮 -->
        <script charset = "utf-8">
            $(function(){
                $("#ViewMem").html("View")
                $("#ViewMem").click(function(){
                    let attr = document.getElementById('MemInfo')
                    if(attr.style.display == 'block'){
                        $("#ViewMem").html("View")
                        attr.style.display = 'none'
                    }else{
                        $("#ViewMem").html("Hide")
                        attr.style.display = 'block'
                    }
                })
            })
        </script>
        <!-- 确保不用点击"Refresh"按钮即可显示 -->
        <script charset = "utf-8">
            $.ajax({
                url: "update/mem",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var mem=data.mem;
                    var ul=$("<ul></ul>");
                    for (var i = 0; i < mem.length; i++) {
                        ul.append("<inline>总物理内存</inline><span>: "+mem[i].total+"MiB</span><br>");
                        ul.append("<inline>已用百分比</inline><span>: "+mem[i].percent+"%</span><br>");
                        ul.append("<inline>已用大小</inline><span>: "+mem[i].used+"MiB</span><br>");
                        ul.append("<inline>可用大小</inline><span>: "+mem[i].available+"MiB</span><br>");
                    }
                    $("#MEM").html(ul);
                    console.log(data);
                }
            })
        </script>
        <!-- 确保点击"Refresh"按钮即可刷新 -->
        <script charset = "utf-8">
            $(function() {
                $("#RefreshMEM").click(function(){
                    $.ajax({
                        url: "update/mem",
                        type: "GET",
                        dataType: "json",
                        success: function (data) {
                            var mem=data.mem;
                            var ul=$("<ul></ul>");
                            for (var i = 0; i < mem.length; i++) {
                                ul.append("<inline>总物理内存</inline><span>: "+mem[i].total+"MiB</span><br>");
                                ul.append("<inline>已用百分比</inline><span>: "+mem[i].percent+"%</span><br>");
                                ul.append("<inline>已用大小</inline><span>: "+mem[i].used+"MiB</span><br>");
                                ul.append("<inline>可用大小</inline><span>: "+mem[i].available+"MiB</span><br>");
                            }
                            $("#MEM").html(ul);
                            console.log(data);
                        }
                    })
                })
            })
        </script>

        <!-- [> [> [> [> [> [> 交换分区信息 <] <] <] <] <] <] -->
        <div class = "row-7em">
            <inline>交换分区监控</inline>
            <span style = "display: inline;">:</span>
            <span style = "display: inline;">
                <button id = "ViewSwap"></button>
                <button id = "RefreshSWAP">Refresh</button>
            </span>
        </div>
        <div class = "row-5em" id = "SwapInfo" style = "display: none;">
            <p id = "SWAP"></p>
        </div>
        <!-- 显示/隐藏按钮 -->
        <script charset = "utf-8">
            $(function(){
                $("#ViewSwap").html("View")
                $("#ViewSwap").click(function(){
                    let attr = document.getElementById('SwapInfo')
                    if(attr.style.display == 'block'){
                        $("#ViewSwap").html("View")
                        attr.style.display = 'none'
                    }else{
                        $("#ViewSwap").html("Hide")
                        attr.style.display = 'block'
                    }
                })
            })
        </script>
        <!-- 确保不用点击"Refresh"按钮即可显示 -->
        <script charset = "utf-8">
            $.ajax({
                url: "update/swap",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var swap=data.swap;
                    var ul=$("<ul></ul>");
                    for (var i = 0; i < swap.length; i++) {
                        ul.append("<inline>总交换分区</inline><span>: "+swap[i].total+"MiB</span><br>");
                        ul.append("<inline>已用百分比</inline><span>: "+swap[i].percent+"%</span><br>");
                        ul.append("<inline>已用大小</inline><span>: "+swap[i].used+"MiB</span><br>");
                        ul.append("<inline>可用大小</inline><span>: "+swap[i].free+"MiB</span><br>");
                    }
                    $("#SWAP").html(ul);
                    console.log(data);
                }
            })
        </script>
        <!-- 确保点击"Refresh"按钮即可刷新 -->
        <script charset = "utf-8">
            $(function() {
                $("#RefreshSWAP").click(function(){
                    $.ajax({
                        url: "update/swap",
                        type: "GET",
                        dataType: "json",
                        success: function (data) {
                            var swap=data.swap;
                            var ul=$("<ul></ul>");
                            for (var i = 0; i < swap.length; i++) {
                                ul.append("<inline>总交换分区</inline><span>: "+swap[i].total+"MiB</span><br>");
                                ul.append("<inline>已用百分比</inline><span>: "+swap[i].percent+"%</span><br>");
                                ul.append("<inline>已用大小</inline><span>: "+swap[i].used+"MiB</span><br>");
                                ul.append("<inline>可用大小</inline><span>: "+swap[i].free+"MiB</span><br>");
                            }
                            $("#SWAP").html(ul);
                            console.log(data);
                        }
                    })
                })
            })
        </script>

        <!-- [> [> [> [> [> [> 磁盘信息 <] <] <] <] <] <] -->
        <div class = "row-7em">
            <inline>磁盘监控</inline>
            <span style = "display: inline;">:</span>
            <span style = "display: inline;">
                <button id = "ViewDisk"></button>
                <button id = "RefreshDISK">Refresh</button>
            </span>
        </div>
        <div class = "row-5em" id = "DiskInfo" style = "display: none;">
            <p id = "DISK"></p>
        </div>
        <!-- 显示/隐藏按钮 -->
        <script charset = "utf-8">
            $(function(){
                $("#ViewDisk").html("View")
                $("#ViewDisk").click(function(){
                    let attr = document.getElementById('DiskInfo')
                    if(attr.style.display == 'block'){
                        $("#ViewDisk").html("View")
                        attr.style.display = 'none'
                    }else{
                        $("#ViewDisk").html("Hide")
                        attr.style.display = 'block'
                    }
                })
            })
        </script>
        <!-- 确保不用点击"Refresh"按钮即可显示 -->
        <script charset = "utf-8">
            $.ajax({
                url: "update/disk",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var disk=data.disk;
                    var ul=$("<ul></ul>");
                    for (var i = 0; i < disk.length; i++) {
                        ul.append("<li>"+disk[i].path+"</li>");
                        ul.append("<inline>已用百分比</inline><span>: "+disk[i].percent+"%</span><br>");
                        ul.append("<inline>总磁盘大小</inline><span>: "+disk[i].total+"GiB</span><br>");
                        ul.append("<inline>已用大小</inline><span>: "+disk[i].used+"GiB</span><br>");
                        ul.append("<inline>可用大小</inline><span>: "+disk[i].free+"GiB</span><br>");
                    }
                    $("#DISK").html(ul);
                    console.log(data);
                }
            })
        </script>
        <!-- 确保点击"Refresh"按钮即可刷新 -->
        <script charset = "utf-8">
            $(function() {
                $("#RefreshDISK").click(function(){
                    $.ajax({
                        url: "update/disk",
                        type: "GET",
                        dataType: "json",
                        success: function (data) {
                            var disk=data.disk;
                            var ul=$("<ul></ul>");
                            for (var i = 0; i < disk.length; i++) {
                                ul.append("<li>"+disk[i].path+"</li>");
                                ul.append("<inline>已用百分比</inline><span>: "+disk[i].percent+"%</span><br>");
                                ul.append("<inline>总磁盘大小</inline><span>: "+disk[i].total+"GiB</span><br>");
                                ul.append("<inline>已用大小</inline><span>: "+disk[i].used+"GiB</span><br>");
                                ul.append("<inline>可用大小</inline><span>: "+disk[i].free+"GiB</span><br>");
                            }
                            $("#DISK").html(ul);
                            console.log(data);
                        }
                    })
                })
            })
        </script>

        <!-- [> [> [> [> [> [> 用户信息 <] <] <] <] <] <] -->
        <div class = "row-7em">
            <inline>用户监控</inline>
            <span style = "display: inline;">:</span>
            <span style = "display: inline;">
                <button id = "ViewUser"></button>
                <button id = "RefreshUSER">Refresh</button>
            </span>
        </div>
        <div class = "row-4em" id = "UserInfo" style = "display: none;">
            <p id = "USER"></p>
        </div>
        <!-- 显示/隐藏按钮 -->
        <script charset = "utf-8">
            $(function(){
                $("#ViewUser").html("View")
                $("#ViewUser").click(function(){
                    let attr = document.getElementById('UserInfo')
                    if(attr.style.display == 'block'){
                        $("#ViewUser").html("View")
                        attr.style.display = 'none'
                    }else{
                        $("#ViewUser").html("Hide")
                        attr.style.display = 'block'
                    }
                })
            })
        </script>
        <!-- 确保不用点击"Refresh"按钮即可显示 -->
        <script charset = "utf-8">
            $.ajax({
                url: "update/user",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var user=data.user;
                    var ul=$("<ul></ul>");
                    for (var i = 0; i < user.length; i++) {
                        ul.append("<li>"+user[i].name+"</li>");
                        ul.append("<inline>登录终端</inline><span>: "+user[i].terminal+"</span><br>");
                        ul.append("<inline>用户IP</inline><span>: "+user[i].host+"</span><br>");
                        ul.append("<inline>登录时间</inline><span>: "+user[i].started+"</span><br>");
                    }
                    $("#USER").html(ul);
                    console.log(data);
                }
            })
        </script>
        <!-- 确保点击"Refresh"按钮即可刷新 -->
        <script charset = "utf-8">
            $(function() {
                $("#RefreshUSER").click(function(){
                    $.ajax({
                        url: "update/user",
                        type: "GET",
                        dataType: "json",
                        success: function (data) {
                            var user=data.user;
                            var ul=$("<ul></ul>");
                            for (var i = 0; i < user.length; i++) {
                                ul.append("<li>"+user[i].name+"</li>");
                                ul.append("<inline>登录终端</inline><span>: "+user[i].terminal+"</span><br>");
                                ul.append("<inline>用户IP</inline><span>: "+user[i].host+"</span><br>");
                                ul.append("<inline>登录时间</inline><span>: "+user[i].started+"</span><br>");
                            }
                            $("#USER").html(ul);
                            console.log(data);
                        }
                    })
                })
            })
        </script>

        <!-- [> [> [> [> [> [> 网卡信息 <] <] <] <] <] <] -->
        <div class = "row-7em">
            <inline>网卡监控</inline>
            <span style = "display: inline;">:</span>
            <span style = "display: inline;">
                <button id = "ViewNet"></button>
                <button id = "RefreshNET">Refresh</button>
            </span>
        </div>
        <div class = "row-7em" id = "NetInfo" style = "display: none;">
            <p id = "NET"></p>
        </div>
        <!-- 显示/隐藏按钮 -->
        <script charset = "utf-8">
            $(function(){
                $("#ViewNet").html("View")
                $("#ViewNet").click(function(){
                    let attr = document.getElementById('NetInfo')
                    if(attr.style.display == 'block'){
                        $("#ViewNet").html("View")
                        attr.style.display = 'none'
                    }else{
                        $("#ViewNet").html("Hide")
                        attr.style.display = 'block'
                    }
                })
            })
        </script>
        <!-- 确保不用点击"Refresh"按钮即可显示 -->
        <script charset = "utf-8">
            $.ajax({
                url: "update/net",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var net=data.net;
                    var ul=$("<ul></ul>");
                    for (var i = 0; i < net.length; i++) {
                        ul.append("<li>"+net[i].name+"</li>");
                        ul.append("<inline>IPv4</inline><span>: "+net[i].ip_v4+"</span><br>");
                        ul.append("<inline>子网掩码(v4)</inline><span>: "+net[i].netmask_v4+"</span><br>");
                        ul.append("<inline>网关(v4)</inline><span>: "+net[i].broadcast_v4+"</span><br>");
                        ul.append("<inline>IPv6</inline><span>: "+net[i].ip_v6+"</span><br>");
                        ul.append("<inline>子网掩码(v6)</inline><span>: "+net[i].netmask_v6+"</span><br>");
                        ul.append("<inline>网关(v6)</inline><span>: "+net[i].broadcast_v6+"</span><br>");
                        ul.append("<inline>MAC地址</inline><span>: "+net[i].mac+"</span><br>");
                    }
                    $("#NET").html(ul);
                    console.log(data);
                }
            })
        </script>
        <!-- 确保点击"Refresh"按钮即可刷新 -->
        <script charset = "utf-8">
            $(function() {
                $("#RefreshNET").click(function(){
                    $.ajax({
                        url: "update/net",
                        type: "GET",
                        dataType: "json",
                        success: function (data) {
                            var net=data.net;
                            var ul=$("<ul></ul>");
                            for (var i = 0; i < net.length; i++) {
                                ul.append("<li>"+net[i].name+"</li>");
                                ul.append("<inline>IPv4</inline><span>: "+net[i].ip_v4+"</span><br>");
                                ul.append("<inline>子网掩码(v4)</inline><span>: "+net[i].netmask_v4+"</span><br>");
                                ul.append("<inline>网关(v4)</inline><span>: "+net[i].broadcast_v4+"</span><br>");
                                ul.append("<inline>IPv6</inline><span>: "+net[i].ip_v6+"</span><br>");
                                ul.append("<inline>子网掩码(v6)</inline><span>: "+net[i].netmask_v6+"</span><br>");
                                ul.append("<inline>网关(v6)</inline><span>: "+net[i].broadcast_v6+"</span><br>");
                                ul.append("<inline>MAC地址</inline><span>: "+net[i].mac+"</span><br>");
                            }
                            $("#NET").html(ul);
                            console.log(data);
                        }
                    })
                })
            })
        </script>
    </body>
</html>
